extends layout

block headContent
	title Block ##{result.getblock.height}, #{result.getblock.hash} 

block content
	h1(class="h3") Block 
		small(style="width: 100%;", class="monospace") ##{result.getblock.height}
		br
		small(style="width: 100%;", class="monospace word-wrap") #{result.getblock.hash}
		button(type="button", data-clipboard-action="copy", class="btn woc_copy", data-clipboard-text=result.getblock.hash , data-toggle="tooltip", title="Copy hash" ) 
			span(class="fas fa-copy")
			
		button(type="button", data-clipboard-action="copy", class="btn woc_copy", data-clipboard-text="https://whatsonchain.com/block/"+result.getblock.hash, data-toggle="tooltip", title="Copy link" ) 
			span(class="fas fa-link")
		
		script
				include ../public/scripts/clipboard.js
	hr

	include includes/block-content.pug